# Commercial district Information Analysis

## Get ready Jupyter

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
plt.rc('font',family='Malgun Gothic') # window 한글 폰트 설정
plt.rc('axes',unicode_minus=False) # 한글폰트 인 경우 unicode가 깨지는 경우 발생하는것을 막기 위해 unicode_minus =False설정
%matplotlib inline

## Data load

In [16]:
df=pd.read_csv('data/소상공인시장진흥공단_상가(상권)정보_서울_202012.csv',sep='|')
df.head()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,17163092,도전최강달인왕만두,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,1174010200102170000018014,고덕그라시움,서울특별시 강동구 고덕로 333,134082,5224.0,NaN,NaN,NaN,127.159471,37.556197
1,17120456,이때,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,1144012400103900067027687,NaN,서울특별시 마포구 동교로38안길 7,121867,3982.0,NaN,NaN,NaN,126.924660,37.562176
2,17175350,L.A.D,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,1144012000103950112010755,NaN,서울특별시 마포구 잔다리로3안길 23,121840,4043.0,NaN,NaN,NaN,126.919845,37.550689
3,17175311,제이씨에스푸드,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,1162010200101180033018722,NaN,서울특별시 관악구 신림로14길 3,151856,8839.0,NaN,NaN,NaN,126.937790,37.471190
4,22767534,BYC상신점,상신점,D,소매,D05,의복의류,D05A07,셔츠/내의/속옷,NaN,...,1171011300100360000022458,성암빌딩,서울특별시 송파구 오금로 527,138110,5768.0,NaN,1,NaN,127.147321,37.493054

In [19]:
df.shape

(346577, 39)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 346577 entries, 0 to 346576
Data columns (total 39 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   상가업소번호     346577 non-null  int64
 1   상호명        346576 non-null  object
 2   지점명        58969 non-null   object
 3   상권업종대분류코드  346577 non-null  object
 4   상권업종대분류명   346577 non-null  object
 5   상권업종중분류코드  346577 non-null  object
 6   상권업종중분류명   346577 non-null  object
 7   상권업종소분류코드  346577 non-null  object
 8   상권업종소분류명   346577 non-null  object
 9   표준산업분류코드   326327 non-null  object
 10  표준산업분류명    326327 non-null  object
 11  시도코드       346577 non-null  int64
 12  시도명        346577 non-null  object
 13  시군구코드      346577 non-null  int64
 14  시군구명       346577 non-null  object
 15  행정동코드      346577 non-null  int64
 16  행정동명       346442 non-null  object
 17  법정동코드      346577 non-null  int64
 18  법정동명       346577 non-null  object
 19  지번코드       346577 non-null  int64
 20  대지구분코드     346577 non-null  int64
 21  대지구분명      346577 non-null  object
 22  지번본번지      346577 non-null  int64
 23  지번부번지      278754 non-null  float64
 24  지번주소       346577 non-null  object
 25  도로명코드      346577 non-null  int64
 26  도로명        346577 non-null  object
 27  건물본번지      346577 non-null  int64
 28  건물부번지      41957 non-null   float64
 29  건물관리번호     346577 non-null  object
 30  건물명        166570 non-null  object
 31  도로명주소      346577 non-null  object
 32  구우편번호      346577 non-null  int64
 33  신우편번호      346575 non-null  float64
 34  동정보        27395 non-null   object
 35  층정보        216374 non-null  object
 36  호정보        55894 non-null   object
 37  경도         346577 non-null  float64
 38  위도         346577 non-null  float64
dtypes: float64(5), int64(11), object(23)
memory usage: 103.1+ MB

## Missing Data